.header-img {
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/08/04/415536/5739dc2fb000435aee470290b2fe3bc3-700.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    height: 500px;
    width: 100%;
    /* border: 1px solid red; */
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0;
    padding:0;
  }
  .title {
    color: white;
    font-weight: bold;
    font-size: 59px;
  }
  .about-btn {
    background-color: #ff0505;
    outline: none;
    border: none;
    padding: 17px 34px;
    color: white;
  }